<div class="inner_content">
	<h1  class="page-header">Detalhes do papel</h1>

<p>
  <b>Tipo:</b>
  <%= @papel.tipo %>
</p>
</div>

<div class="form-actions">
  <%= link_to 'Editar', edit_papel_path(@papel), :class => "btn btn-primary" %>
  <%= link_to 'Voltar', papels_path, :class => "btn" %>
</div>
