<%= stylesheet_link_tag "application", :media => "all" %>

<h1>Ordem de Serviço</h1>

<p>
  <b>Nº:</b>
  <%= @ordem.id %>
</p>

<p>
  <b>Cliente:</b>
  <%= @ordem.cliente_id %>
</p>

<p>
  <b>Data:</b>
  <%= @ordem.criacao %>
</p>

<p>
  <b>Produto:</b>
  <%# @servico.produto %>
</p>

<p>
  <b>Valor:</b>
  <%# @servico.valor %>
</p>

<p>
  <b>Forma de pagamento:</b>
  <%# @servico.forma_pagamento %>
</p>
