<div class="inner_content">
<h1 class="page-header">Detalhes do Produto</h1>
<p>
  <b>Nome:</b>
  <%= @produto.name %>
</p>
<p>
  <b>Criado:</b>
  <%= @produto.created_at %>
</p>
</div>
<div class="form-actions">
	<%= link_to 'Editar', edit_produto_path(@produto), :class => "btn btn-primary" %>
	<%= link_to 'Voltar', produtos_path, :class => "btn" %>
</div>
